@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      bottom:0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }

body{
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav{
    background-color: rgb(133, 98, 98);
    overflow:hidden;
    position:fixed;

}
.topnav a{
    float: left;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}
.topnav a:hover{
    
    background-color: rgba(139, 24, 24, 0.315);
} 
.topnav a.active{
    background-color: #948272;
}
.topnav .icon{
    display: none;
}
#mysongs{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    
}

#mysongs{
    padding: 20px;
    color: bisque;
    text-align: center;
    background-color: darkcyan;
    background-position: inherit;
    background-size: cover;
} 
.container-2{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/img/mysongs.jpg');
    
} 
.start{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    
    position: relative;   
}
.start a{
    text-align: center;
    
    text-decoration: none;
    color: white;
    justify-content: center;
}

.container-3{
    text-align: center;
    color: black;
    background-color: white;
    padding: 16px 18px;;
}
.button1{
    background-color: red;
    font-size: 20px;
}
.button1:hover{
    background-color: orange;
}
.button2{
    background-color: blue;
    font-size: 20px;
}
.button2:hover{
    background-color: blueviolet;
}
.read{
    
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

       
}
.read a{
    text-align: center;
    
    text-decoration: none;
    color: white;
    justify-content: center;
}

footer{
    align-items: baseline;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 200px;
}